@page
@model MotoLinker.Models.Announcement

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["DeleteAdTitle"]</h1>
<p>@Localizer["DeleteConfirm"]</p>

<div>
    <p>
        <strong>@Localizer["Title"]:</strong> @Model.Title
    </p>
    <p>
        <strong>@Localizer["Description"]:</strong> @Model.Description
    </p>
    <p>
        <strong>@Localizer["Price"]:</strong> @Model.Price PLN
    </p>
    <p>
        <strong>@Localizer["Location"]:</strong> @Model.Location
    </p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="AnnouncementId" />
    <button type="submit" class="btn btn-danger">@Localizer["DeleteAdButton"]</button>
    <a asp-action="List" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>