@model MotoLinker.Models.Announcement

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Model.Title</h1>
<p><strong>@Localizer["Description"]:</strong> @Model.Description</p>
<p><strong>@Localizer["Price"]:</strong> @Model.Price PLN</p>
<p><strong>@Localizer["Location"]:</strong> @Model.Location</p>
<p><strong>@Localizer["Brand"]:</strong> @Model.Brand</p>
<p><strong>@Localizer["Model"]:</strong> @Model.Model</p>
<p><strong>@Localizer["ProductionYear"]:</strong> @Model.ProductionYear</p>
<p><strong>@Localizer["DateAdder"]:</strong> @Model.DateAdded.ToString("yyyy-MM-dd HH:mm")</p>

<p><strong>@Localizer["AdId"]:</strong> @Model.AnnouncementId</p>
<p><strong>@Localizer["OwnerId"]:</strong> @Model.UserId</p>

<h3>@Localizer["Attributes"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["AttributeKey"]</th>
            <th>@Localizer["AttributeValue"]</th>
            <th>@Localizer["AttributeType"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attr in Model.Attributes)
        {
            <tr>
                <td>@attr.Key</td>
                <td>@attr.Value</td>
                <td>@attr.Type</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="List" class="btn btn-secondary">@Localizer["BackToList"]</a>

<span style="font-size: small; color: gray;"><br />@Localizer["Viewed"] @Model.Views</span>