@model IEnumerable<MotoLinker.Models.Announcement>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["AdListTitle"]</h1>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
{
    <a asp-action="Create" class="btn btn-success mb-3">Dodaj og³oszenie</a>
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>@Localizer["Title"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Location"]</th>
            <th>@Localizer["Brand"]</th>
            <th>@Localizer["Model"]</th>
            <th>@Localizer["DateAdded"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var announcement in Model)
        {
            <tr>
                <td>@announcement.AnnouncementId</td>
                <td>@announcement.Title</td>
                <td>@announcement.Price PLN</td>
                <td>@announcement.Location</td>
                <td>@announcement.Brand</td>
                <td>@announcement.Model</td>
                <td>@announcement.DateAdded.ToString("yyy-MM-dd HH:mm")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@announcement.AnnouncementId" class="btn btn-info">@Localizer["Details"]</a>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null &&
                        (HttpContextAccessor.HttpContext.Session.GetString("UserId") == announcement.UserId.ToString() ||
                         HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") == "True"))
                    {
                        <a asp-action="Edit" asp-route-id="@announcement.AnnouncementId" class="btn btn-warning">@Localizer["Edit"]</a>
                        <form asp-action="Delete" asp-route-id="@announcement.AnnouncementId" method="post" style="display:inline;" onsubmit="return confirm(@Localizer["DeleteConfirm"]);">
                            <button type="submit" class="btn btn-danger">@Localizer["DeleteAdButton"]</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>