@model IEnumerable<MotoLinker.Models.Announcement>

<h1>Lista og³oszeñ</h1>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Tytu³</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Lokalizacja</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok produkcji</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var announcement in Model)
        {
            <tr>
                <td>@announcement.FormattedId</td> <!-- Wyœwietlanie ID w formacie 000-000-001 -->
                <td>@announcement.Title</td>
                <td>@announcement.Description</td>
                <td>@announcement.Price PLN</td>
                <td>@announcement.Location</td>
                <td>@announcement.Brand</td>
                <td>@announcement.Model</td>
                <td>@announcement.ProductionYear</td>
                <td>
                    <a asp-action="Details" asp-route-id="@announcement.Id" class="btn btn-info">Szczegó³y</a>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null &&
                   (HttpContextAccessor.HttpContext.Session.GetString("UserId") == announcement.UserID.ToString() ||
                   HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") == "True"))
                    {
                        <a asp-action="Edit" asp-route-id="@announcement.Id" class="btn btn-warning">Edytuj</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>